<b>C2. Concevoir une base de données analytique avec l’approche orientée requêtes en vue de la mise à disposition des données pour un traitement analytique ou d’intelligence artificielle.</b> <br/>
<b>C3. Programmer l’import de données initiales nécessaires au projet en base de données, afin de les rendre exploitables par un tiers, dans un langage de programmation adapté et à partir de la stratégie de nettoyage des données préalablement définie.</b>

Le but est de "Concevoir une base de données analytique avec l’approche orientée requêtes en vue de la mise à disposition des données pour un traitement analytique ou d’intelligence artificielle".

Nous importons les données depuis des fichiers CSV dans des dataframes pandas, puis nous insérons ces données dans une base de données SQLite. Nous verifions ensuite que les données ont été correctement insérées en exécutant des requêtes SQL pour récupérer les données et les afficher.

Pour faire des requetes SQL sans utiliser le script python:

```
cd current_repo
sqlite3 MovieLens.db
.tables
SELECT * FROM movies;
SELECT COUNT (DISTINCT userId) FROM ratings;
```

In [ ]:
%pip install pysqlite3

In [10]:
import pandas as pd
import sqlite3

# Établir une connexion avec la base de données
conn = sqlite3.connect('MovieLens.db')

# Importer les données depuis les fichiers CSV vers des dataframes pandas
df_movies = pd.read_csv('../data/movies.csv')
df_ratings = pd.read_csv('../data/ratings.csv')
df_ratings.drop('timestamp', axis=1, inplace=True)

# Insérer les données des dataframes pandas dans la base de données SQLite
df_movies.to_sql('movies', conn, if_exists='replace', index=False)
df_ratings.to_sql('ratings', conn, if_exists='replace', index=False)

# Vérifier que les données ont été importées correctement
df_movies_test = pd.read_sql_query("SELECT * from movies", conn)
df_ratings_test = pd.read_sql_query("SELECT * from ratings", conn)

print(df_movies_test.head())
print(df_ratings_test.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [9]:
# ID du film que vous voulez rechercher
movie_id = 1  
df_ratings_of_movie = pd.read_sql_query(f"SELECT * from ratings WHERE movieId = {movie_id}", conn)
print(df_ratings_of_movie)

     userId  movieId  rating
0         1        1     4.0
1         5        1     4.0
2         7        1     4.5
3        15        1     2.5
4        17        1     4.5
..      ...      ...     ...
210     606        1     2.5
211     607        1     4.0
212     608        1     2.5
213     609        1     3.0
214     610        1     5.0

[215 rows x 3 columns]